.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    font-family:inherit;
    background: white !important;
    border: 0px;
    border:0px solid white !important;
    border-radius: 0.125rem !important;
}