body {
    margin: 0;
    
}

.bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-image {
    position: absolute;
    width: 150%;
    height: 150%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform-origin: center;
    transition: transform 0.2s ease-out, filter 0.2s ease-out;
}
img,iframe{
    max-width: 100%;
}
